db.sqlite3

*.pyc
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# Django stuff:
*.log
dashboard/local_settings.py

# dotenv
.env

# virtualenv
venv/
ENV/
virtualenvs/

#node modules
node_modules/
yarn.lock

staticfiles
node_modules/
package-lock.json
.vscode/

#mediafiles
media/

#a-staticfiles
a-static/

webpack-stats-local.json

# celery beat schedule file
celerybeat-schedule
