body{
    background-color: lightgrey;
    text-align: center;
}

footer {
    margin-top: 3rem;
    text-align: center;
}


#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 24px;
    height: 24px;
}
