{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puskar Joshi</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-wrapper" class="card card-body h-100 border-info">
                    <img id="profile-pic" src="{% static 'images/Puskar.jpg' %}" width="180", height="200">
                    <hr>
                    <h4>Hi i'm Puskar!</h4>
                    <p class="about" style="font-family: URW Chancery L, cursive">
                        A Computer Science graduate exploring the world and embracing life.</p>
                    <p><i>Want to reach out to me? Following are my social links.</i>
                    </p>
                    <ul class="social-links">
                        <li><a href="https://instagram.com/puskarjoshi_">
                            <img class="social" src="{% static 'images/instagram.png' %}"></a></li>
                        <li><a href="https://facebook.com/jopuskar">
                            <img class="social" src="{% static 'images/facebook.png' %}"></a></li>
                        <li><a href="https://twitter.com/impuskarjoshi">
                            <img class="social" src="{% static 'images/twitter.png' %}"></a></li>
                        <li><a href="https://linkedin.com/in/impuskar">
                            <img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                        <li><a href="https://youtube.com/channel/UC2zps6EywAL1mz9nqRMRa_Q">
                            <img class="social" src="{% static 'images/youtube.png' %}"></a></li>
                    </ul>
                </div>
            </div>
             <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4 style="color: red">About</h4>
                    <hr>
                    <p>
                        <i>"A clam mind, a fit body and a house full of love</i> ; these things cannot be bought even if
                        you have all the money in the world. Jeff Bezos still has to work out, he still has to work on
                        his marriage or whatever his next relationship is and his internal mental state is very much not
                        controlled by external events, it's gonna be based on how calm and peaceful he is inside. So your
                        health and relationships are the things that you have to cultivate and can probably bring
                        you a lot more joy than any amount of money ever will." - <a href="https://nav.al/">
                        Naval Ravikant </a>
                    </p>
                    <p>
                        A world full of love, light and laughter, its time has come!
                    </p>
                    <p>

                    </p>
                    <p>
                        So, that's about it!
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p>Python/Django Developer</p>
                    <p></p>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I know?</h5>
                    <hr>
                    <p>Python/Django Web Development<br>
                        Understanding of Governance Systems<br>
                        Interested in: Contemporary Issues, International Relations, Public policy, Administration and
                        Microeconomics
		    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What i am doing currently?</h5>
                    <hr>
                    <p>Exploring and embracing life.</p>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My short term goals</h5>
                    <hr>
                    <p>Still to figure out. Just going with the flow!</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <footer>
        <p>&copy; 2022 Puskar Joshi</p>
    </footer>
</body>
</html>
